.blog{
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.blog__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 25px;
}

.blog_card {
    width: 100%;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
}

.blog_card__img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.blog_card__img img {
    width: 100%;
}

.blog_card__content {
    padding: 0 15px;
}

.blog_card__progress {
    height: 15px;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 10px;
}

.blog_card__colored {
    width: 45%;
    background-color: #29a745;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.blog_card__footer {
    padding: 10px 15px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.blog_card__left_text {
    font-weight: 700;
}

.blog_card__right_text {
    background-color: #13a3b8;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #fff;
}
